{% extends "base.html" %}
{% load static %}
{% block title %}Custom 404{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="card text-center bg-dark text-white">
      <img
        src="{% static 'pict/RE4wwun.jpg' %}"
        class="rounded"
        alt="..."
      >
      <div class="card-img-overlay">
        <h3 class="card-title">Увы!</h3>
        <p class="card-text">Страницы с адресом "{{ path }}" не существует</p>
        <a href="{% url 'posts:index' %}" class="btn btn-primary">
          Добро пожаловать через главный вход :)
        </a>
      </div>
    </div>
  </div>
{% endblock %}
