{% load thumbnail %}
<div class="card shadow">
  <div class="card-header">
    Автор: {{ post.author.get_full_name }}
    {% if author_posts %}
      <a href="{% url 'posts:profile' post.author %}">
        все посты пользователя
      </a>
    {% endif %}
  </div>
  <div class="card-body">
    <h6 class="card-title text-secondary">
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </h6>
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img top" src="{{ im.url }}" alt="picture 960x339">
    {% endthumbnail %}
    <p class="card-text">
      {{ post.text|linebreaks|truncatewords:50 }}
    </p>
    {% if post.comments.exists %}
      <p class="card-text text-secondary small">
        Комментарии: {{ post.comments.count }}
      </p>
    {% endif %}
    <a
      class="btn btn-outline-primary btn-sm"
      href="{% url 'posts:post_detail' post.pk %}"
    >
      подробная информация
    </a>
  </div>
  {% if post.group and not groups %}
    <div class="card-footer bg-transparent">
      Группа
      <a href="{% url 'posts:group_list' post.group.slug %}">
        {{ post.group.title }}
      </a>
    </div>
  {% endif %}
</div>
{% if not forloop.last %}<br>{% endif %}