{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1 class="display-4">Привет, я автор</h1>
    <img class="rounded float-left" src="author" alt="picture 200x200">
    <p>Точнее так:   я - создатель.</p>
    <p>Этого сайта.</p>
    <p>Это мой тайный (для посвященных) и пока самый амбициозный проект,
      потому что я на него все-таки решился.
      Сайт самый обычный, но красивый ))
      Спасибо ЯП, который вел меня за руку и довел к тому, что я наделал.</p>
    <p>Меня зовут Михаил, живу и работаю в Москве.</p>
    <p>Люблю кататься на велосипеде. Это мой старый, верный друг,
      которого я не смог когда-то променять и тогда поменял в нем все,
      что можно, чтобы он обновился.
      В итоге стоит этот конь в стойле (ха-ха).
      Еще люблю сапсерфинг, конечно же море и горы.
      Читаю научную фантастику, нравятся фильмы, такие как Интерстеллар, Довод и подобное.
      И с некоторых пор мне понравилось творить творения и наблюдать, как они развиваются и куда катятся.
      В том числе этот сайт. Еще молодой, но его ждет развитие, конечно же.</p>
    <p>Посвящается моей дочери, благодаря которой мне пришлось работать над проектом по ночам)).</p>
    <p>Создано ради моего вдохновения.</p>
    </p>
  </div>
{% endblock %}