{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1 class="display-4">Привет, я автор</h1>
    <article class="col-12 col-md-6">
      <img
        class="img-thumbnail"
        src="{% static 'pict/IMG_2019.jpg' %}"
        width="250" height="377"
        alt="..."
      >
      <hr>
      <p>Точнее так:   я - создатель.</p>
      <p>Этого сайта.</p>
      <p>
        Меня зовут Михаил, юный разработчик, живу и работаю в Москве.
        Я человек самый обычный, но красивый.
        И такое выражение лица у меня тогда, когда я разрабатываю.
      </p>
      <p>А такое, когда я активно отдыхаю )</p>
      <img
        class="img-thumbnail"
        src="{% static 'pict/IMG_1898.JPG' %}"
        width="250" height="377"
        alt="..."
      >
      <br>
      <p>Ладно, особой нет разницы ))</p>
      <p>
        Итак, о сайте блогеров.
        Это мой тайный проект, для посвященных.
        Сайт самый обычный, но красивый (очень уж понравилось это выражение)))
        Спасибо ЯП, который вел меня и довел к тому, что я наделал.
        Проект еще молодой и надеюсь, как надеется любой создатель,
        что его творение будет развиваться.
        Я вижу в нем потенциал, потому что он сам задал мне хороший старт
        в моем развитии.
      </p>
      <p>
        Посвящается моей любимой и моей дочери, благодаря которой
        мне пришлось работать над проектом по ночам)).
        И всем посвященным друзьям, которые меня поддерживают.
      </p>
      <p>
        Создано во имя вдохновения, которое как-то раз пришло ко мне и
        больше не отпускает.
      </p>
    </article>
  </div>
{% endblock %}