{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% if post.group %}
          <li class="list-group-item">
            Группа: {{ post.group }}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
            </a>
          </li>
          {% endif %}
          <li class="list-group-item">
            Автор: {{ post.author.get_full_name }} {{ post.author.username }}
          </li>
          <li class="list-group-item d-flex justify-content-between
            align-items-center">
            Всего постов автора: <span >{{ post.author.posts.count }}</span>
          </li>
          <li class="list-group-item">
            <a href="{% url 'posts:profile' post.author %}">
              все посты пользователя
            </a>
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        {% thumbnail post.image "960x600" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}" alt="picture 960x600">
        {% endthumbnail %}
        <p>{{ post.text|linebreaks }}</p>
        {% if post.author_id == user.id %}
        <a class="btn btn-primary btn-sm" href="{% url 'posts:post_edit' post.pk %}">
          редактировать запись
        </a>
        {% endif %}
        {% include 'includes/form_comment.html' %}
      </article>
    </div>
  </div>
{% endblock %}